<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445682744565-2a9cso0rqsq3pngubcppb67njig45juh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445682744565-2a9cso0rqsq3pngubcppb67njig45juh</string>
	<key>API_KEY</key>
	<string>AIzaSyBaquGLwJuL50CT4SI7YFTIALDNby5sKCc</string>
	<key>GCM_SENDER_ID</key>
	<string>445682744565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManager</string>
	<key>PROJECT_ID</key>
	<string>task-manager-4cf2d</string>
	<key>STORAGE_BUCKET</key>
	<string>task-manager-4cf2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445682744565:ios:471d09fd266f22b7c3d9bc</string>
</dict>
</plist>